@page "/"
@using Microsoft.AspNetCore.Authorization
@using System.Threading;
@using System.Globalization;
@using System.Security.Claims;
@using System.Runtime.InteropServices;
@using System.Reflection;
@using BBEIFrontend;
@using Serilog;

<PageTitle>HOME</PageTitle>

<h1>FAS HOME PAGE</h1>
<div style="width: 100%; text-align: right"><span>Ultima lettura dati </span></div>

<table class="bigTable">
        <thead>
            <tr>
                <td>
                    Giornata nr.
                </td>
                <td>
                    Termine richieste giocatori
                </td>
                <td>
                    Termine offerte aste
                </td>
                <td>
                    Termine consegna formazioni
                </td>
            </tr>
        </thead>
        }
    }
    else
    {
        <span>Nessun dato letto</span>
    }
</table>

<br />
<div style="text-align: center;">
    <label style="font-size: large; padding: 3px;">Termine per la consegna delle formazioni:</label>
    <br />
    <div style="background-color: #cceeff">
        <label style="font-size: large; padding: 3px; font-weight: bolder;">@ddd.ToString()g</label>
        <label style="font-size: large; padding: 3px; font-weight: bolder;">@dHH.ToString("D2"):@dmm.ToString("D2"):@dss.ToString("D2")</label>
    </div>
</div>

<br />
<p>Successive giornata di SERIE A</p>

<ModalLoading @ref="modalLoadingPageRef" />

@code {
    private ModalLoading modalLoadingPageRef;
    private GestoreDb? gestoreDb;

    @inject IJSRuntime JsRuntime

    private int refreshSecs = 60; //3600;
    private long selectedRound;
    private Dictionary<long, string> formattedAuctionTS = new();
    private Dictionary<long, string> formattedBidTS = new();
    private Dictionary<long, string> formattedStandingsTS = new();
    private CultureInfo italianCulture = new CultureInfo("it-IT");

    private int ddd = 0;
    private int dHH = 0;
    private int dmm = 0;
    private int dss = 0;
    private System.Threading.Timer timer;

    protected override async Task OnInitializedAsync()
    {

        selectedRound = -1;
        gestoreDb = new GestoreDb();

        timer = new System.Threading.Timer(UpdateCount, null, TimeSpan.Zero, TimeSpan.FromSeconds(1));
    }

    private void UpdateCount(object state)
    {
        TimeSpan delta = new();

        ddd = delta.Days;
        dHH = delta.Hours > 24 ? delta.Hours % 24 : delta.Hours;
        dmm = delta.Minutes > 60 ? delta.Minutes % 60 : delta.Minutes;
        dss = delta.Seconds > 60 ? delta.Seconds % 60 : delta.Seconds;

        // Richiedi l'aggiornamento del componente
        InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {

    }
}