@page "/"
@using Microsoft.AspNetCore.Authorization
@using System.Threading;
@using System.Globalization;
@using System.Security.Claims;
@using System.Runtime.InteropServices;
@using System.Reflection;
@using BBEIFrontend;
@using Serilog;
@using BBEIDataAccess.Models;

<PageTitle>HOME</PageTitle>

<h1>BB expecting it!</h1>

<br />
<br />
<table class="bigTable">
    <thead>
        <tr>
            <td>
                <div class="qa-block">
                    <p class="qa-question">@question</p>
                    <p class="qa-reply">@reply</p>
                    <p class="qa-meta">@author - @ts.ToString("yyyy-MM-dd HH:mm")</p>
                </div>
            </td>
        </tr>
    </thead>
</table>

<button class="btn-save btn_green" @onclick="DoRefresh"><span>Refresh</span></button>

<ModalLoading @ref="modalLoadingPageRef" />

@code {
    private ModalLoading modalLoadingPageRef;
    private GestoreDb? gestoreDb;

    private string question = "";
    private string reply = "";
    private string author = "";
    private DateTime ts = DateTime.Now;

    @inject IJSRuntime JsRuntime

    protected override async Task OnInitializedAsync()
    {
        gestoreDb = new GestoreDb();

        await DoRefresh();
    }

    private async Task DoRefresh()
    {
        if (modalLoadingPageRef != null)
            modalLoadingPageRef.ShowModal();

        dbc_BBEIFacts f = gestoreDb.getRandomFact();
        
        question = f.Question;
        reply = f.Reply;
        author = gestoreDb.getNameAuthorFromAuthorId(f.IdAuthor);
        ts = f.DateFact;

        // Richiedi l'aggiornamento del componente
        StateHasChanged();
        if (modalLoadingPageRef != null)
            modalLoadingPageRef.CloseModal();
    }

    public void Dispose()
    {

    }
}