@using System.Threading;
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="" @onclick="DoRefresh">BBEI</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu" style="min-width: 270px">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <AuthorizeView Roles="MANTAINER,ADMIN">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="newexpectation">
                        <span class="oi oi-key" aria-hidden="true"></span> New expectation
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>
            <AuthorizeView Roles="ADMIN">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="usermanagement">
                        <span class="oi oi-key" aria-hidden="true"></span> Gestione Utenti
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="dbmanagement">
                        <span class="oi oi-key" aria-hidden="true"></span> Gestione DB
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>
    </nav>
</div>
<div class="versionBottom">
Version: @Program.Version
<br />
Since: @Program.FirstRun
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private async Task DoRefresh()
    {
        StateHasChanged();
    }
}
